<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parcel Sender</title>
</head>
<body>
<div class="form-style-10">
    <h1>Details Needed<span>Please provide the following details to send a parcel!</span></h1>
    <form>
        <div class="section"><span>1</span>Sender Information</div>
        <div class="inner-wrap">
            <label>Your Full Name <input type="text" name="field1" /></label>
            <label>Email Address <input type="email" name="field3" /></label>
            <label>Phone Number <input type="text" name="field4" /></label>
        </div>

        <div class="section"><span>2</span>Receiver Information</div>
        <div class="inner-wrap">
            <label>Full Name <input type="text" name="field1" /></label>
            <label>Email Address <input type="email" name="field3" /></label>
            <label>Phone Number <input type="text" name="field4" /></label>
        </div>

        <div class="section"><span>3</span>Current Address</div>
        <div class="inner-wrap">
            <label>Address line 1 <input type="text" name="field2"></label>
            <label>Address line 2 <input type="text" name="field9"></label>
            <label>City <input type="text" name="field10"></label>
            <label>State <input type="text" name="field11"></label>
            <label>Zip <input type="number" name="field12"></label>

        </div>

        <div class="section"><span>3</span>Delivery Address</div>
        <div class="inner-wrap">
            <label>Address line 1 <input type="text" name="field13"></label>
            <label>Address line 2 <input type="text" name="field14"></label>
            <label>City <input type="text" name="field15"></label>
            <label>State <input type="text" name="field16"></label>
            <label>Zip <input type="number" name="field17"></label>

        </div>

        <div class="section"><span>4</span>Parcel Details</div>
        <div class="inner-wrap">
            <label>Parcel Weight (in ounce) <input type="text" name="field18"></label>
            <label>Parcel Dimensions (in cm)</label>
            <label>Height (approx.) <input type="number" name="field19"></label>
            <label>Length (approx.) <input type="number" name="field20"></label>
            <label>Width (approx.) <input type="number" name="field21"></label>
            <label>Disclosure <textarea name="field22"></textarea></label>
        </div>

        <div class="button-section">
            <input type="submit" name="Submit" />
     <span class="privacy-policy">
     <input type="checkbox" name="field7">You agree to our Terms and Policy.
     </span>
        </div>
    </form>
</div></body>
</html>