<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Service Provider</title>
</head>
<body>
<div *ngIf="loggedIn()" [hidden] = "!isLoading" class="loader">Loading...</div>
<div *ngIf="loggedIn()" [hidden]="submitted || isLoading">
    <div class="form-style-10">
        <h1>Details Needed<span>Please provide the following details to offer parcel service!</span></h1>
        <form (ngSubmit) = "onSubmit()" #serviceProviderDetailsForm="ngForm">
            <div class="section"><span>1</span>General Information</div>
            <div class="inner-wrap">
                <label>Your Full Name <input type="text" placeholder="Name" [(ngModel)]="model.name" required ngControl="name"  #name="ngForm"/>
                    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                        Name is required
                    </div>
                </label>
                <label>Phone Number <input type="text" placeholder="(123)-456-7890" [(ngModel)]="model.phone" required/></label>
            </div>

            <div class="section"><span>2</span>Enter Current Address
            </div>
            <input id="autocomplete" placeholder="Enter your address"
                   (keyup)="geolocate($event)" type="text" required>
            <div *ngIf="loggedIn()" [hidden] = "!isCurrentAddressLoading" class="loader">Loading...</div>
            <div class="inner-wrap">
                <label>Address line 1 <input type="text" [(ngModel)]="model.currentAddreddaddressLine1" required></label>
                <label>Address line 2 <input type="text" [(ngModel)]="model.currentAddressaddressLine2" ></label>
                <label>State <input type="text" [(ngModel)]="model.currentState" required></label>
                <label>City <input type = "text" [(ngModel)]="model.currentCity" required></label>
                <label>Zip <input type="number" placeholder="12345" [(ngModel)]="model.currentZip" required></label>

            </div>

            <div class="section"><span>3</span>Destination Address</div>
            <div class="inner-wrap">
                <label>Address line 1 <input type="text" [(ngModel)]="model.destinationAddreddaddressLine1" required></label>
                <label>Address line 2 <input type="text" [(ngModel)]="model.destinationAddreddaddressLine2"></label>
                <label>State <select [(ngModel)]="model.destinationState" (ngModelChange)="onChange($event)" required>
                    <option *ngFor = "let state of states">
                        {{state}}
                    </option>
                </select></label>
                <label>City <input type = "text" [(ngModel)]="model.destinationCity" required></label>
                <label>Zip <input type="number" placeholder="12345" [(ngModel)]="model.destinationZip" required></label>

            </div>

            <div class="section"><span>4</span>Date &amp; Time</div>
            <div class="inner-wrap">
                <label>Journey Date <input type="date" placeholder="YYYY-MM-DD" [(ngModel)]="model.journeyDate" required/></label>
                <label>Availability Time</label>
                <label>From  <input type="time" name="time" placeholder="Hrs:Mins" [(ngModel)]="model.availabilityFrom" required/></label>
                <label>To  <input type="time" name="time"  placeholder="Hrs:Mins" [(ngModel)]="model.availabilityTo" required/></label>
            </div>

            <div class="section"><span>5</span>Parcel Carrying Capacity</div>
            <div class="inner-wrap">
                <label>Max. Parcel Weight <input type="number" placeholder="in pound" [(ngModel)]="model.maxParcelWeight" required></label>
                <label>Max Parcel Dimensions </label>
                <label>Height (approx.) <input type="number" placeholder="in cm" [(ngModel)]="model.maxParcelHeight" required></label>
                <label>Length (approx.) <input type="number" placeholder="in cm" [(ngModel)]="model.maxParcelLength" required></label>
                <label>Width (approx.) <input type="number"  placeholder="in cm" [(ngModel)]="model.maxParcelWidth" required></label>
            </div>

            <div class="button-section">
                <input type="submit" name="Submit" [disabled]="!serviceProviderDetailsForm.form.valid"/>
     <span class="privacy-policy">
     <input type="checkbox" name="field7">You agree to our Terms and Policy.
     </span>
            </div>
        </form>
    </div>
</div>
<div  *ngIf="loggedIn()" class="form-style-10" [hidden]="!submitted || isLoading">
    <h2>You submitted the service providing request successfully</h2>
    <div *ngIf="requests" [hidden]="!showDetails">
        <h2>Following Parcel Request is Assigned to You</h2>
        <ul *ngFor="let request of requests " class="form-style-10-assign">
            <h3>Request Details:</h3>
            <li>Parcel Details : {{request.parcelDisclosure}}</li>
            <h4>Sender Details</h4>
            <li>Sender Name : {{request.senderName}}</li>
            <li>Sender Email : {{request.senderEmail}}</li>
            <li>Sender Contact Number :   {{request.senderPhone}}</li>
            <li>Sender Address : <b>{{request.currentAddreddaddressLine1}}</b></li>
            <li> <b>{{request.currentAddreddaddressLine2}}</b></li>
            <li>City : {{request.currentCity}}</li>
            <h4>Receiver Details</h4>
            <li>Receiver Name : {{request.receiverName}}</li>
            <li>Receiver Email : <b>{{request.receiverEmail}}</b></li>
            <li>Receiver Contact Number :  <b>{{request.receiverPhone}}</b></li>
            <li>Receiver Address : <b>{{request.deliveryAddreddaddressLine1}}</b></li>
            <li> <b>{{request.deliveryAddreddaddressLine2}}</b></li>
            <li>City : {{request.deliveryCity}}</li>
        </ul>
    </div>
    <div *ngIf="requests" [hidden]="showDetails"><h4>No Suitable Parcel Requests Found</h4></div>
    <button class="resubmit-button" (click)="submitted=false">Submit Another Request</button>
</div>
</body>
</html>