<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<div *ngIf="loggedIn()">
    <img src="{{profile.picture}}" style="width: 50px" /> {{profile.name}}
    <div>
        <button class="btn btn-default" (click)="onAssignedServiceClick()">Assigned Service request</button>
        <button class="btn btn-default" (click)="onUnassignedServiceClick()">Unassigned Service request</button>
        <button class="btn btn-default" (click)="onAssignedSenderClick()">Assigned Parcel request</button>
        <button class="btn btn-default" (click)="onUnassignedSenderClick()">Unassigned Parcel request</button>
    </div>
<div>
    <div *ngIf="unassignedServiceRequests" [hidden]="!showDetails">
        <ul *ngFor="let request of unassignedServiceRequests ">
            <h3>Request Details:</h3>
            <li>Journey Date:   <b>{{request.journeyDate}}</b></li>
            <h4>Parcel Details:</h4>
            <li>Parcel Weight Capacity :  <b>{{request.maxParcelWeight}}</b> ounce</li>
            <li>Parcel Height Dimension : <b>{{request.maxParcelHeight}}</b> cm.</li>
            <li>Parcel length Dimension : <b>{{request.maxParcelLength}}</b> cm.</li>
            <li>Parcel Width Dimension :  <b>{{request.maxParcelWidth}}</b> cm.</li>
            -----------------------------------**********--------------------------------------------
        </ul>
    </div>
    <div *ngIf="unassignedServiceRequests" [hidden]="showDetails"><h3>No Service Requests</h3></div>

    <div *ngIf="assignedServiceRequests" [hidden]="!showDetails">
        <ul *ngFor="let request of assignedServiceRequests ">
            <h3>Request Details:</h3>
            <h4>Parcel Details:</h4>
            <li>Parcel Description : <b>{{request.parcelDisclosure}}</b></li>
            <li>Parcel Weight Capacity :  <b>{{request.parcelWeight}}</b> ounce</li>
            <li>Parcel Height Dimension : <b>{{request.parcelHeight}}</b> cm.</li>
            <li>Parcel length Dimension : <b>{{request.parcelLength}}</b> cm.</li>
            <li>Parcel Width Dimension :  <b>{{request.parcelWidth}}</b> cm.</li>
            <h4>Sender Details</h4>
            <li>Sender Name : <b>{{request.senderName}}</b></li>
            <li>Sender Email : <b>{{request.senderEmail}}</b></li>
            <li>Sender Contact Number :   <b>{{request.senderPhone}}</b></li>
            <li>Sender Address : <b>{{request.currentAddreddaddressLine1}}</b></li>
            <li> <b>{{request.currentAddreddaddressLine2}}</b></li>
            <li>City : <b>{{request.currentCity}}</b></li>
            <h4>Receiver Details</h4>
            <li>Receiver Name : <b>{{request.receiverName}}</b></li>
            <li>Receiver Email : <b>{{request.receiverEmail}}</b></li>
            <li>Receiver Contact Number :  <b>{{request.receiverPhone}}</b></li>
            <li>Receiver Address : <b>{{request.deliveryAddreddaddressLine1}}</b></li>
            <li> <b>{{request.deliveryAddreddaddressLine2}}</b></li>
            <li>City : <b>{{request.deliveryCity}}</b></li>
            -----------------------------------**********--------------------------------------------
        </ul>
    </div>
    <div *ngIf="assignedServiceRequests" [hidden]="showDetails"><h3>No Service Requests</h3></div>

    <div *ngIf="parcelRequests" [hidden]="!showDetails">
        <ul *ngFor="let request of parcelRequests ">
            <h3>Request Details:</h3>
            <li>Receiver Name : <b>{{request.receiverName}}</b></li>
            <li>Parcel Details : <b>{{request.parcelDisclosure}}</b></li>
            <li>Delivery City : <b>{{request.deliveryCity}}</b></li>
            <li>Service Provider Email:   <b>{{request.providerEmail}}</b></li>
            <h4>Parcel Details:</h4>
            <li>Parcel Weight Capacity :  <b>{{request.parcelWeight}}</b> ounce</li>
            <li>Parcel Height Dimension : <b>{{request.parcelHeight}}</b> cm.</li>
            <li>Parcel length Dimension : <b>{{request.parcelLength}}</b> cm.</li>
            <li>Parcel Width Dimension :  <b>{{request.parcelWidth}}</b> cm.</li>
             -----------------------------------**********--------------------------------------------
        </ul>
    </div>
    <div *ngIf="parcelRequests" [hidden]="showDetails"><h3>No Parcel Requests</h3></div>
</div>
</div>
<!--<ul>-->
    <!--<li *ngFor="#doc of message">-->
        <!--{{doc.senderEmail}}-->
    <!--</li>-->
<!--</ul>-->
</body>
</html>